/* --- Global Styles --- */
* {
    font-family:
    "Monaspace Argon NF", "SF Pro Text", "Inter",
    "Segoe UI, NotoSans Nerd Font", sans-serif;
    font-size: 14px;
    color: #dadada;
}

#waybar {
    background: transparent;
    border-radius: 6px;
}
#workspaces{
    border-radius:6px;
}

#workspaces,
#mpris,
#clock,
#custom-notification,
#idle_inhibitor,
#network,
#bluetooth,
#backlight,
#wireplumber,
#power-profiles-daemon,
#battery{
    margin-left:4px;
    margin-right: 4px;
    background: #5c5f77;
    border-radius:6px 6px 6px 6px;
    padding-left:12px;
    padding-right: 12px;
}

/*
#backlight,
#bluetooth{
    border-radius:0px;
    margin-left: 0px;
    margin-right: 0px;

}*/

#network{
    border-radius: 6px 0px 0px 6px;
    margin-right: 0px;
    color: #89b4fa;
}

#bluetooth{
    border-radius: 0px;
    margin-right: 0px;
    margin-left: -4px;
}

#backlight{
    border-radius: 0px;
    margin-right: 0px;
    margin-left: -4px;
}

#wireplumber{
    border-radius: 0px 6px 6px 0px;
    margin-left: -4px;
}

#idle_inhibitor.activated{
    color:#e57474;
}

#custom-power{
color:#c47fd5;
margin-right:10px;
padding-right:14px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#power-profiles-daemon.performance {
    color: #f38ba8;
}

#power-profiles-daemon.balanced {
    color: #2980b9;
}

#power-profiles-daemon.power-saver {
    color: #2ecc71;
}

#network.disconnected {
    background-color: #f53c3c;
}

/* --- Tooltip Styles --- */
tooltip {
    background-color: #0d0f1a;
    color: #b8c5db;
    padding: 5px 12px;
    margin: 5px 0px;
    border-radius: 6px;
    border: 1px solid rgba(122, 156, 198, 0.15);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    font-size: 12px;
}

